
*.aux
 
*.bbl

*.blg

*.fdb_latexmk

*.log

*.run.xml

*.gz

*.toc

KlausurStyle/Demo/bib/.svn/all-wcprops

KlausurStyle/Demo/bib/.svn/entries

*.svn-base

KlausurStyle/Demo/Grafik/.svn/entries

KlausurStyle/Demo/Grafik/.svn/all-wcprops

KlausurStyle/Demo/Grafik/.DS_Store

.DS_Store

*-blx.bib
